[submodule "STM32-startup"]
	path = STM32-startup
	url = https://github.com/hwengineer/STM32-startup.git
[submodule "STM32-ldscripts"]
	path = STM32-ldscripts
	url = https://github.com/hwengineer/STM32-ldscripts.git
[submodule "STM32Cube-F3-meson"]
	path = STM32Cube-F3-meson
	url = https://github.com/hwengineer/STM32Cube-F3-meson.git
